<%- include("partials/header") -%>
<h1>C O N T A C T</h1>
<br>
<p class="content"> <%= contactContent %> </p>
<br>
<ul>
  <li>Email: <a href = "mailto:amanverma2253gmail.com">amanverma2253@gmail.com</a></li>
  <br>
  <li>Phone:<a href="tel:6394162676">6394162676</a></li>
  <br>
  <li>Github <a href="https://github.com/amanverma2253">Link</a></li>
  <br>
  <li>Linkldn: <a href="https://www.linkedin.com/in/aman-verma-a23545191?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B3ADwuLoQRy2Qhwj8h9b4CQ%3D%3D">Link</a>  </li>
  <br>
  <li>Instagram: <a href="https://www.instagram.com/___amanverma___/">Link</a></li>

</ul>
<%- include("partials/footer") -%>
